          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '13' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS COPAS           ____bebidas_____13be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '15' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS                 ____bebidas_____15be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '17' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS S/ALCOHOL     ____bebidas_____17be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '19' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> APERITIVOS            ____bebidas_____19be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '20' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____20be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
