          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '13' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS / MOSCATOS      ____bebidas_____13be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '15' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS                 ____bebidas_____15be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '17' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> GASEOSAS              ____bebidas_____17be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '19' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> APERITIVOS            ____bebidas_____19be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '21' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____21be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinal/snippet/<%= '23' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICORES               ____bebidas_____23be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
